<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nhibernateSettings" type="HIS.DataAccess.OpenSessionInViewSection,HIS.DataAccess" />
  </configSections>
  <nhibernateSettings>
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="nhibernate" factoryConfigPath="C:\Users\Hamdani\Documents\Visual Studio 2013\Projects\HIS\HIS.Web.UI\Configuration\nhibernate.config" isTransactional="true" assemblyName="HIS.Data" mappingAssembly="HIS.Data.Mapping" />
    </sessionFactories>
  </nhibernateSettings>
  <location path="~/Site">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
     
    <compilation debug="true" targetFramework="4.5" />
    <membership defaultProvider="customProvider">
      <providers>
        <clear />
        <add name="customProvider" type=" HIS.Web.UI.WebMembershipProvider, HIS.Web.UI" providerId="myProvider" />
      </providers>
    </membership>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097152"  />
    <authentication mode="Forms">
      <forms name=".ASPXFORMSLOGIN" cookieless="UseCookies" timeout="999" protection="All" loginUrl="/Login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <trace writeToDiagnosticsTrace="false" enabled="false" pageOutput="false" />
    <siteMap enabled="true" defaultProvider="AppSitemapProvider">
      <providers>
        <clear />
        <add name="AppSitemapProvider" type="HIS.Web.UI.AppSitemapProvider" />
      </providers>
    </siteMap>
    <pages autoEventWireup="false" enableViewState="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add assembly="HIS.Web.UI" namespace="HIS.Web.UI" tagPrefix="sym" />
        <add tagPrefix="sym" src="~/Infrastructure/Web/Controls/Pager.ascx" tagName="Pager" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits   maxAllowedContentLength="2147483647">
        </requestLimits>
        </requestFiltering>
      </security>
    <!-- This section is used for IIS7 -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NHibernateSessionModule" type="HIS.DataAccess.NHibernateSessionModule" preCondition="managedHandler" />
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="AttributedInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>   
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>